{% extends 'Home/base.html' %}

{% block title %}{{ works.title }}{% endblock %}
{% block content %}
       <!-- Product Cart Start -->
   <div class=" d-flex container">
    <div class=" w-100 mt-4">
        <h4 class="d-block" >Recently Works</h4>
        <div class="d-flex flex-wrap justify-content-between">
            {% for works in works %}
            <!-- Product Cart Start -->
            <div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded card border border-0 shadow-sm d-inline-block m-1
             mt-3" style="width: 16.5rem;" >
                {% if works.worksimage_set.exists %}
                <img height="200" class="img-fluid card-img-top" src="{{ works.worksimage_set.all.first.image.url }}"
                     alt="...">
                {% else %}
                <img height="200" class="img-fluid card-img-top" src="{{ works.worksimage_set.all.first.image.url }}"
                     alt="...">
                {% endif %}
                <div class="card-body ">
                    <h6 class="align-center card-title">{{works.title}}</h6>
                    <span class="center card-text"><small><b>from: </b>{{works.price1}}{{ works.price_type }} <b>to</b>
                        {{ works.price2 }}{{ works.price_type }}</small></span> <br>
                    <div class="buttons d-flex justify-content-between">
                        <i class="bi bi-bookmark-fill"></i>
                        <a href="#" class="btn btn-outline-primary btn-sm">Detail</a>
                    </div>
                    
                </div>
            </div>
            <!-- Product Cart End -->
            {% endfor %}

        </div>
    </div>
</div>
<!-- Product Cart End -->
{% endblock content %}